.button-area {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.btn-itself {
  width: 100%;
  padding: 12px;
  color: #fff;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 4px;
  transition: 0.2s ease-in-out;
}

.btn-itself:hover {
  transform: scale(1.04);
  cursor: pointer;
}

.btn-itself:active {
  transform: scale(1);
  transition: none;
}
